<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/grumble/css/grumble.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%= nav %>
<% if ("undefined" === typeof main) { %>
<div class="container">
<div class="jumbotron" style="margin-top: 60px;">
  <div class="container">
    <h1>Tiguidou! <small>Pour des présentations simples et vites faites</small></h1>
    <p>J'avais besoin d'un outil web pour créer et diffuser des présentations facilement. Quelques heures plus tard, Tiguidou était né et après quelques jours, le voici en ligne, prêt à servir.</p>
    <p>Les sources AGPL v3 de ce logiciel libre sont disponibles sur gitorious: <a href="https://gitorious.org/tiguidou/tiguidou">https://gitorious.org/tiguidou/tiguidou</a></p>
	<p><i>Ceci est très préliminaire. Il faut contacter <b>Robin Millette</b> pour obtenir un compte, sinon vous ne pourrez rien éditer.</i></p>
    <p><a href="/colophon" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-info-sign"></i> Bâti avec...</a> <a href="/exemples" class="btn btn-info btn-lg">Voir des exemples</a></p>
  </div>
</div>
</div>
<% } else { %>
<div class="container" style="margin-top: 60px;">
<div class="row">
<div class="col-sm-12">
<%= main %>
</div></div></div>
<% } %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/grumble/js/jquery.grumble.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script>
	$(function() {

$('.row li>a').hover(function() {$(this).grumble(
	{
		text: $(this).attr("title"),
		angle: 90,
		distance: 30,
		showAfter: 300,
		hideAfter: 10000
//		hasHideButton: true,
//		buttonHideText: 'Pop!'
	}
);

$(this).attr("title", "");

});
		
	});
	</script>
</body>
</html>