<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title><%- o.titre %></title>
		<link rel="stylesheet" href="/reveal/css/reveal.css">
		<link rel="stylesheet" href="/reveal/css/theme/<%- o.theme %>.css" id="theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
                <section data-markdown="/markdown/<%- o.id %>" data-separator="<%- o.separator_regex %>" data-vertical="<%- o.vertical %>"></section>
            </div>
		</div>
		<script src="/reveal/lib/js/head.min.js"></script>
		<script src="/reveal/js/reveal.js"></script>
		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme || "<%- o.theme %>",
				transition: Reveal.getQueryHash().transition || "<%- o.transition %>",

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } }//,
//					{ src: '/reveal/plugin/notes/notes.js' }
				]
			});
		</script>
	</body>
</html>