<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Formulaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<%= nav %>
<div class="container" style="margin-top: 60px;">
<div class="row">
<div class="col-sm-6">
	
<h1 class="title">Formulaire</h1>

<form class="form-horizontal" role="form" method="post" action="/post/<%- _id %>">
<span class="help-block">
<p>Pour séparer les diapositives, sauter 3 lignes (par défaut, ou changer "separator" et "separator_regex). Pour faire des sous-diapositives, sauter 2 lignes (par défaut, ou changer "vertical_regex").</p>
<p>Par exemple, pour changer de diapo avec "-" et de sous-diapo avec "--", utilisez separator = "-\n", separator_regex = "^-$" et vertical_regex = "^--$".</p>
</span>


<div class="form-group">
	<label for="titre">Titre (obligatoire)</label>
	<input type="text" class="form-control" id="titre" name="titre" placeholder="Titre de la présentation" value="<% if ("undefined" !== typeof titre) print (titre) %>">
</div>

<!--
titre (obligatoire): <input class="form-control" type="text" name="titre" value="<% if ("undefined" !== typeof titre) print (titre) %>" /><br />
-->


<div class="form-group">
	<label for="date">Date (semi-obligatoire)</label>
	<input type="text" class="form-control" id="date" name="date" placeholder="Samedi le 21 septembre 2013" value="<% if ("undefined" !== typeof date) print (date) %>">
	<span class="help-block">Au moins un de <b>date</b> ou <b>lieu</b> est obligatoire</span>
</div>


<div class="form-group">
	<label for="lieu">Lieu (semi-obligatoire)</label>
	<input type="text" class="form-control" id="lieu" name="lieu" placeholder="Maison Duvernay, Montréal" value="<% if ("undefined" !== typeof lieu) print (lieu) %>">
	<span class="help-block">Au moins un de <b>date</b> ou <b>lieu</b> est obligatoire</span>
</div>

<div class="form-group">
	<label for="texte">Texte (obligatoire)</label>
	<textarea placeholder="# Titre de la présentation" class="form-control" rows="15" id="texte" name="texte"><% if ("undefined" !== typeof texte) { %><%- texte %><% } %></textarea>
	<span class="help-block">Syntaxe Markdown: # pour un titre de premier niveau, ## pour un titre de second niveau, *italique*, **gras**, les éléments de listes commencent avec *, etc.</span>
</div>



<div class="form-group">
	<label for="separator">Séparateur principal des diapositives</label>
	<input type="text" class="form-control" id="separator" name="separator" value="<%- ("undefined" === typeof separator) ? "\\n\\n\\n" : separator.replace("\n", "\\n", "g") %>">
</div>

<div class="form-group">
	<label for="separator_regex">Regex pour le séparateur principal</label>
	<input type="text" class="form-control" id="separator_regex" name="separator_regex" value="<%- ("undefined" === typeof separator_regex) ? "^\\n\\n\\n" : separator_regex.replace("\n", "\\n", "g") %>">
</div>

<div class="form-group">
	<label for="vertical_regex">Regex pour le séparateur vertical</label>
	<input type="text" class="form-control" id="vertical_regex" name="vertical_regex" value="<%- ("undefined" === typeof vertical) ? "^\\n\\n" : vertical.replace("\n", "\\n", "g") %>">
</div>



<div class="form-group">
	<label for="theme">Thème (look)</label>
	<select id="theme" class="form-control" name="theme">
<option <% if ("undefined" !== typeof theme && "default" === theme) print ("selected")%> value="default">default: Gray background, white text, blue links</option>
<option <% if ("undefined" !== typeof theme && "beige" === theme) print ("selected")%> value="beige">beige: Beige background, dark text, brown links</option>
<option <% if ("undefined" !== typeof theme && "moon" === theme) print ("selected")%> value="moon">moon</option>
<option <% if ("undefined" !== typeof theme && "sky" === theme) print ("selected")%> value="sky">sky: Blue background, thin white text, blue links</option>
<option <% if ("undefined" !== typeof theme && "night" === theme) print ("selected")%> value="night">night: Black background, thick white text, orange links</option>
<option <% if ("undefined" !== typeof theme && "serif" === theme) print ("selected")%> value="serif">serif: Cappuccino background, gray text, brown links</option>
<option <% if ("undefined" !== typeof theme && "simple" === theme) print ("selected")%> value="simple">simple: White background, black text, blue links</option>
<option <% if ("undefined" !== typeof theme && "solarized" === theme) print ("selected")%> value="solarized">solarized</option>
</select>
</div>

<div class="form-group">
	<label for="transition">Transition (look)</label>
<select id="transition" class="form-control" name="transition" />
<option <% if ("undefined" !== typeof transition && "default" === transition) print ("selected")%>>default</option>
<option <% if ("undefined" !== typeof transition && "cube" === transition) print ("selected")%>>cube</option>
<option <% if ("undefined" !== typeof transition && "page" === transition) print ("selected")%>>page</option>
<option <% if ("undefined" !== typeof transition && "concave" === transition) print ("selected")%>>concave</option>
<option <% if ("undefined" !== typeof transition && "zoom" === transition) print ("selected")%>>zoom</option>
<option <% if ("undefined" !== typeof transition && "linear" === transition) print ("selected")%>>linear</option>
<option <% if ("undefined" !== typeof transition && "fade" === transition) print ("selected")%>>fade</option>
<option <% if ("undefined" !== typeof transition && "none" === transition) print ("selected")%>>none</option>
</select>
</div>

<input class="btn col-sm-12" type="submit" />
</form>
</div>
<div class="col-sm-6 hidden-xs">
<div class="well" style="top: 80px; position: fixed; overflow: auto; max-height: 480px" id="md"></div>
</div></div></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/reveal/plugin/markdown/marked.js"></script>
    <script>
$(function() {
	$("#md").html(marked($("textarea").val()));

	$("textarea").change(function() {
		$("#md").html(marked($(this).val()));
	});

	$("textarea").keyup(function() {
		$("#md").html(marked($(this).val()));
	});
	
});    
    </script>
</body>
</html>