    <div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
  <div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <!-- end button -->

	  <a class="navbar-brand" href="/">Tiguidou!</a>
	  </div>
	  <!-- end div navbar-header -->
	  <div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">		  
		  <li><a href="/nouveau"><i class="glyphicon glyphicon-road"></i> Créer</a></li>
		  <li><a title="Foire aux questions" href="/exemples">Exemples</a></li>
		  <!-- li><a href="#/ressources"><i class="glyphicon glyphicon-list"></i> Ressources</a></li -->
		  <li><a href="/colophon"><i class="glyphicon glyphicon-info-sign"></i> À propos</a></li>

<% if ("undefined" !== typeof submenu) { %>
<%= submenu %>
<% } %>
		</ul>

<% if (!name) { %>
<form class="navbar-form navbar-right" method="post" action="/_session?next=/">
      <div class="form-group">
        <input type="text" name="name" placeholder="Jean Tremblay">
        <input type="password" name="password">
      </div>
      <button type="submit" class="btn btn-default">Connecter</button>
    </form>
<% } else { %>
<!-- p class="navbar-text navbar-right" -->
		<ul class="nav navbar-nav navbar-right">		  
	<li><a href="/par-auteur/<%- name %>"><%- name %></a></li>
	</ul>
<!-- /p -->
<% } %>

		<!-- end ul -->
	  </div>
	  <!--/.nav-collapse -->
	<!-- /div -->
	<!-- end navbar-header -->
  </div>
  <!-- end container -->
</div>
<!-- end navbar navbar-default -->